header{
  background:#0b3d91;
  color:white;
  padding:10px;           /* dikit lebih rapih */
  text-align:center;
  position:sticky;        /* biar diam di atas */
  top:0;
  z-index:100;
  font-size:16px;         /* lebih kecil */
}
header h1{
  font-size:20px;         /* judul lebih kecil */
  margin:5px 0;           /* rapihin jarak */
}
header nav a{
  color:white;
  margin:5px 8px;
  text-decoration:none;
  font-weight:bold;
  font-size:14px;         /* link menu lebih kecil */
}
